<!DOCTYPE html>
<title>Employee - System Admin</title>
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}"> -->
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/admin.css">
        <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
    </head>
        <script type="text/javascript" src="/static/js/admin.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <body>
        <div class=resourceTypeWrapper>
            <div class="resouceBanner">
                Admin
            </div>

            <div class="resourceType">
                <div id=currentResource value=flight style="display:none"></div>
                <button id="hotel" class=resourceTabs onclick="updateGUI(this.id);">Hotels</button>
                <button id="flight" class=resourceTabs style="background-color:grey" onclick ="updateGUI(this.id);">Flights</button>
                <button id="cruise" class=resourceTabs onclick="updateGUI(this.id);">Cruise</button>
                <button id="car" class=resourceTabs onclick="updateGUI(this.id);">Cars</button>
            </div>
            <div class=accountInfo>
                <i class="material-icons" style="font-size:50px;color:white" onclick="logout();">exit_to_app</i>
            </div>
        </div>
        <div class=resourceDataWrapper>
            <div class=resourceData >
                <div class="form-group resourceDataSelector">
                    <button type="button" class="btn btn-primary spacing">Add Resource</button>
                    <button type="button" class="btn btn-primary spacing" onclick="viewResource()">View Resource</button>                    

                </div>
                <div class="viewResourceWrapper">
                    <div id=viewResource class="list-group">
                    </div>
                </div>

            </div>
        </div>

    </body>
</html>
