<!DOCTYPE html>
<title>Employee - System Admin</title>
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}"> -->
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/admin.css">
        <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
    </head>
        <script type="text/javascript" src="/static/js/admin.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <body onload="updateGUI('flight')"">
        <div class=resourceTypeWrapper>
            <div class="resouceBanner">
                Admin
            </div>

            <div class="resourceType">
                <div id=currentResource value=flight style="display:none"></div>
                <button id="hotel" class=resourceTabs onclick="updateGUI(this.id);">Hotels</button>
                <button id="flight" class=resourceTabs style="background-color:grey" onclick ="updateGUI(this.id);">Flights</button>
                <button id="cruise" class=resourceTabs onclick="updateGUI(this.id);">Cruise</button>
                <button id="car" class=resourceTabs onclick="updateGUI(this.id);">Cars</button>
            </div>
            <div class=accountInfo>
                <i class="material-icons" style="font-size:50px;color:white" onclick="logout();">exit_to_app</i>
            </div>
        </div>
        <div class=resourceDataWrapper>
            <div class=resourceData >
                <div class="form-group resourceDataSelector">
                    <button type="button" class="btn btn-primary spacing" data-toggle="modal" data-target="#addFlight" id=addResource>Add Resource</button>
                    <button type="button" class="btn btn-primary spacing" onclick="viewResource()">View Resource</button>                    

                </div>
                <div class="viewResourceWrapper">
                    <div id=viewResource class="list-group">
                    </div>
                </div>
            </div>
        </div>

                  <!-- Modal -->
          <div class="modal fade" id="addCar" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Add Car</h4>
              </div>
                <div class="modal-body">

                  <div class="form-group">
                    <label for="carCompany">Car Company</label>
                    <input type="text" class="form-control" id="carCompany" placeholder="Car Company" required>
                  </div>
                  <br>
                  <label for="carType">Car Type</label>
                  <select id=carType placeholder="Car Type" class="form-control" required>
                  </select>
                  <br>
                  <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" class="form-control" id="price" placeholder="Price" required>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" onclick=addCar();>Add</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              
            </div>
          </div>



          <div class="modal fade" id="addHotel" role="dialog">
            <div class="modal-dialog">
            
              <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Add Hotel</h4>
              </div>
                <div class="modal-body">

                  <label for="accommodationType">Accommodation Type</label>
                  <select id=accommodationType placeholder="Accommodation Type" class="form-control">
                  </select>
                  <br>
                  <label for="location">Location</label>
                  <select id=location placeholder="Location" class="form-control">
                  </select>
                  <br>
                  <div class="form-group">
                    <label for="facilities">Facilities</label>
                    <input id="facilities" type="text" class="form-control" placeholder="Facilities">
                  </div>
                  <br>
                  <div class="form-group">
                    <label for="rate">Rate</label>
                    <input id="rate" type="number" class="form-control" placeholder="Rate">
                  </div>
                  <br>
                  <div class="form-group">
                    <label for="discount">Discount</label>
                    <input id="discount" type="number" class="form-control" placeholder="Discount">
                  </div>
                  <br>
                  <div class="form-group">
                    <label for="size">Size</label>
                    <input id="size" type="number" class="form-control" placeholder="Size">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" onclick="addHotel();">Add</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              
            </div>
          </div>



          <div class="modal fade" id="addCruise" role="dialog">
            <div class="modal-dialog">
            
              <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Add Cruise</h4>
              </div>
                <div class="modal-body">

                  <div class="form-group">
                    <label for="cruiseName">Cruise Name</label>
                    <input id="cruiseName" type="text" class="form-control" placeholder="Cruise Name">
                  </div>
                  <br>
                  <div class="form-group">
                    <label for="cruiseDate">Schedule Date</label>
                    <input id="cruiseDate" type="date" class="form-control" placeholder="Date">
                  </div>
                  <br>
                  <label for="csrcLocation">Source Location</label>
                  <select id=csrcLocation placeholder="Source Location" class="form-control">
                  </select>
                  <br>
                  <label for="cdstLocation">Destination Location</label>
                  <select id=cdstLocation placeholder="Destination Location" class="form-control">
                  </select>
                  <br>
                  <div class="form-group">
                    <label for="fare">Fare</label>
                    <input id="fare" type="number" class="form-control" placeholder="Fare">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" onclick="addCruise()">Add</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              
            </div>
          </div>



          <div class="modal fade" id="addFlight" role="dialog">
            <div class="modal-dialog">
            
              <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Add Flight</h4>
              </div>
                <div class="modal-body">

                  <div class="form-group">
                    <label for="flightCarrier">Flight Carrier</label>
                    <input id="flightCarrier" type="text" class="form-control" placeholder="Flight Carrier">
                  </div>
                  <br>
                  <div class="form-group">
                    <label for="flightNumber">Flight Number</label>
                    <input id="flightNumber" type="text" class="form-control" placeholder="Flight Number">
                  </div>
                  <br>
                  <div class="form-group">
                    <label for="flightDate">Schedule Date</label>
                    <input id="flightDate" type="date" class="form-control" placeholder="Date">
                  </div>
                  <br>
                  <label for="fsrcLocation">Source Location</label>
                  <select id=fsrcLocation placeholder="Source Location" class="form-control">
                  </select>
                  <br>
                  <label for="fdstLocation">Destination Location</label>
                  <select id=fdstLocation placeholder="Destination Location" class="form-control">
                  </select>
                  <br>
                  <label for="Class">Class</label>
                  <select id="Class" placeholder="Class" class="form-control">
                    <option>Business</option>
                    <option>Economy</option>
                  </select>
                  <br>
                  <div class="form-group">
                    <label for="flightFare">Fare</label>
                    <input id="flightFare" type="number" class="form-control" placeholder="Fare">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" onclick="addFlight()">Add</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              
            </div>
          </div>
    </body>
</html>
