<!DOCTYPE html>
<title>This is a test</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/homePage.css">
<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">    </head>
<script type="text/javascript" src="/static/js/homePage.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <body onload="carMetaData()">
        <div class=resourceTypeWrapper>
            <div class="resouceBanner">
                Resort Hub
            </div>
            <div class="resourceType">
                <button id="hotel" class=resourceTabs onclick="redirectTo(this.id);">Hotels</button>
                <button id="flight" class=resourceTabs onclick="redirectTo(this.id);">Flights</button>
                <button id="cruise" class=resourceTabs onclick="redirectTo(this.id);">Cruise</button>
                <button id="car" class=resourceTabs style="background-color: grey">Cars</button>
            </div>
            <div class=accountInfo>
                <i class="material-icons" style="font-size:50px;color:white" onclick="checkout();">account_circle</i>
                <i class="material-icons" style="font-size:50px;color:white" onclick="logout();">exit_to_app</i>
            </div>   
        </div>
        <div class=resourceDataWrapper>
            <div class=resourceData >
                <div class="form-group resourceDataSelector">
                  <select id="carCompany" class="form-control dropdown">
                    <option value="" disabled selected hidden>Company</option>
                  </select>
                </div>
                <div class="form-group resourceDataSelector">
                  <select id="carType" class="form-control dropdown">
                    <option value="" disabled selected hidden style="color:grey">Type</option>
                  </select>
                </div>
                <button type="button" class="btn btn-default" style="position:relative;top:10px;float:right;margin-right:5px;" onclick="searchCars();"><span class="glyphicon glyphicon-search"></span></button>       
            </div>
            <div id="carSearchResults" class=searchResults>
            </div>
        </div>

    </body>
</html>
