<!DOCTYPE html>
<title>Resort Hub</title>
<html>
    <head>
        <link rel="shortcut icon" type="image/png" href="/static/images/RH.ico"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/checkOutPage.css">
        <link href="https://fonts.googleapis.com/css?family=Shrikhand|Gugi" rel="stylesheet">    
        <script type="text/javascript" src="/static/js/homePage.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body onload="getUserItems()">
        <div class=resourceTypeWrapper>
            <div class="resourceBanner">
                Resort Hub - Checkout
            </div>
            <div class=accountInfo>
                <i class="material-icons" style="font-size:50px;color:white" onclick="logout();">exit_to_app</i>
            </div>   
        </div>
        <div class=resourceDataWrapper>
            <div class=userInfo>
                <input id="fname" class="form-control splitColumn" type="text" placeholder="First Name" required>
                <input id="lname" class="form-control splitColumn" type="text" placeholder="Last Name" required>
                <input id="cc" class="form-control splitColumn" style="width:28.5vw" type="number" placeholder="Credit Card" required>
                <input id="exp" class="form-control splitColumn" style="width:11.3vw" type="text" placeholder="Expiration Date" onfocus="(this.type='date')" required>
                <input id="cvv" class="form-control splitColumn" style="width:6vw" type="text" placeholder="CVV" required>
                <select id="cardType" class="form-control splitColumn" style="width:6vw" >
                    <option value="" disabled selected hidden style="color:grey">Type</option>
                    <option value="">VISA</option>
                    <option value="">Amex</option>
                    <option value="">Master Card</option>
                    <option value="">Discover</option>
                </select>
                <input id="addr" class="form-control splitColumn" style="width:28.5vw" type="text" placeholder="Address" required>
                <label id=totalCost class=splitColumn style="font-size:25px;"></label>
                <button type="button" class="btn btn-dark splitColumn" style="background-color:black" onclick="checkoutItems()">Checkout</button>
            </div>
            <div id="checkOutItems" class=userItems>
            </div>
        </div>
    </body>
</html>
