<!DOCTYPE html>
<title>RH</title>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/loginStyle.css">
		<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet"> 
		<script type="text/javascript" src="/static/js/loginPage.js"></script>
    	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
	</head>

    <body >
        <div class=resourceTypeWrapper>
            <div class="resouceBanner">
                Resort Hub
            </div>
            <div class=accountInfo>
                <i class="material-icons" style="font-size:50px;color:white" onclick="logout();">exit_to_app</i>
            </div>   
        </div>
        <div class=resourceDataWrapper>
        	<button id="cgroup" class=resourceTabs data-toggle="modal" data-target="#chooseName">Create Group</button>
        	<button id="vgroup" class=resourceTabs onclick="">View Group</button>
        </div>

          <div class="modal fade" id="chooseName" role="dialog">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-body">
                  <p>Enter number of passengers in your group: </p>
                  <input type="number" id="numPassengers" name="numPassengers" value="1" required>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" style="position:relative; float:left" data-dismiss="modal" onclick="createGroup()">Continue</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
                </div>
              </div>
            </div>
          </div>

    </body>
</html>
