<!DOCTYPE html>
<title>This is a test</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/homePage.css">
<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">    </head>
<script type="text/javascript" src="/static/js/homePage.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <body>
        <div class=resourceTypeWrapper>
            <div class="resouceBanner">
                Resort Hub
            </div>
            <div class="resourceType">
                <button class=resourceTabs>Hotels</button>
                <button class=resourceTabs>Flights</button>
                <button class=resourceTabs>Cruise</button>
                <button class=resourceTabs>Cars</button>
            </div>
            <div class=accountInfo>
                <i class="material-icons" style="font-size:50px;color:white">account_circle</i>
                <i class="material-icons" style="font-size:50px;color:white">exit_to_app</i>
            </div>   
        </div>
        <div class=resourceDataWrapper>
            <div class=resourceData >
                <div class="form-group resourceDataSelector">
                  <select class="form-control dropdown">
                    <option value="" disabled selected hidden>From</option>
                    <option>Moscow</option>
                    <option>Beijing</option>
                    <option>New York</option>
                  </select>
                </div>
                <div class="form-group resourceDataSelector">
                  <select class="form-control dropdown">
                    <option value="" disabled selected hidden style="color:grey">To</option>
                    <option>Moscow</option>
                    <option>Beijing</option>
                    <option>New York</option>
                  </select>
                </div>
                <input required="" type="text" class="form-control leavingDate" placeholder=" Leaving Date" onfocus="(this.type='date')"/>
                <div class="form-group resourceDataSelector">
                  <select class="form-control dropdown">
                    <option>Class</option>
                    <option>Business</option>
                    <option>Economy</option>
                  </select>
                </div>
                <input class="form-control numPassengers" type="number" id="example-number-input" placeholder="Passengers">
                <button type="button" class="btn btn-default" style="position:relative;top:10px;float:right;margin-right:5px;"><span class="glyphicon glyphicon-search"></span></button>       
                <div class=searchResults>
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                          <div class="cardBodyFlight" style="background-image: url(./images/airchina.jpg);background-repeat: no-repeat;background-size: 100% 50px"></div>
                          <div class="cardBodyDeparture">12:00</div>
                          <div class="cardBodyPrice">$2600</div>

                      </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                          <div class="cardBodyFlight" style="background-image: url(./images/aeroflot.jpg);background-repeat: no-repeat;background-size: 100% 50px"></div>
                          <div class="cardBodyDeparture">00:00</div>
                            <div class="cardBodyPrice">$2600</div>

                      </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
