<!DOCTYPE html>
<title>Resort Hub</title>
<html>
    <head>
        <link rel="shortcut icon" type="image/png" href="/static/images/RH.ico"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/homePage.css">
        <link href="https://fonts.googleapis.com/css?family=Shrikhand|Gugi" rel="stylesheet">    
        <script type="text/javascript" src="/static/js/homePage.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body onload="hotelsMetaLoad();">
        <div class=resourceTypeWrapper>
            <div class="resourceBanner">
                Resort Hub
            </div>
            <div class="resourceType">
                <button id="hotel" class=resourceTabs style="background: -webkit-linear-gradient(#ff4e50, #f9d423)">Hotels</button>
                <button id="flight" class=resourceTabs onclick="redirectTo(this.id);">Flights</button>
                <button id="cruise" class=resourceTabs onclick="redirectTo(this.id);">Cruise</button>
                <button id="car" class=resourceTabs onclick="redirectTo(this.id);">Cars</button>
            </div>
            <div class=accountInfo>
                <i class="material-icons" style="font-size:50px;color:white"onclick="checkOut();">local_grocery_store</i>
                <i class="material-icons" style="font-size:50px;color:white" data-toggle="modal" data-target="#groupCreate">group_work</i>
                <i class="material-icons" style="font-size:50px;color:white" onclick="logout();">exit_to_app</i>
            </div>   
        </div>
        <div class=resourceDataWrapper>
            <div class=resourceData >
                <div class="form-group resourceDataSelector">
                  <select id="location" class="form-control dropdown" onclick="removeRedBorder(this.id);">
                    <option value="" disabled selected hidden>Location</option>
                  </select>
                </div>
                <div class="form-group resourceDataSelector">
                  <select id="accommodationType" class="form-control dropdown" onclick="removeRedBorder(this.id);">
                    <option value="" disabled selected hidden>Type</option>
                  </select>
                </div>
                <input id="guests" class="form-control numPassengers" type="number" id="example-number-input" placeholder="Guests" readonly>
                <button type="button" class="btn btn-default" style="position:relative;top:10px;float:right;margin-right:5px;" onclick="searchHotels();"><span class="glyphicon glyphicon-search"></span></button>       
            </div>
            <div id="hotelSearchResults" class=searchResults>
            </div>
        </div>

        <div class="modal fade" id="addedToCart" role="dialog">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-body">
                <p style="text-align: center">Item has been added to your Cart</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="duplicateItemInCart" role="dialog">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-body">
                <p style="text-align: center;color:red">Duplicate item in cart</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


        <div class="modal fade" id="showHotelReview" role="dialog">
            <div class="modal-dialog">
            
              <div class="modal-content">
              <div class="modal-header">
                  <div class="form-group">
                    <label for="reviewDetails">Add Review</label>
                    <textarea id="reviewDetails" placeholder="Comment (Max Length: 500) ..." style="width: 100%;height: 100px;" onclick="removeRedBorder(this.id);"></textarea>
                    <div id=reviewRating value=0>
                        <span id=rating0 onmouseover="rating(0);" >X</span>
                        <span id=rating1 onmouseover="rating(1);" class="fa fa-star "></span>
                        <span id=rating2 onmouseover="rating(2);" class="fa fa-star "></span>
                        <span id=rating3 onmouseover="rating(3);" class="fa fa-star "></span>
                        <span id=rating4 onmouseover="rating(4);" class="fa fa-star"></span>
                        <span id=rating5 onmouseover="rating(5);" class="fa fa-star"></span>
                    </div>
                  </div>
              </div>
              <div class="modal-body">
                  <div id=resourceReview class="list-group" value="">
                      
                  </div>
              </div>
              <div class="modal-footer">
                <button id="addReviewButton" type="button" class="btn btn-default" onclick="addReview()">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>   
          </div>
      </div>

      <div class="modal fade" id="groupCreate" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" style="color:red">
                WARNING!
            </div>
            <div class="modal-body">
              <p style="text-align: center">All items in your shopping cart will be removed.<br>Do you want to continue? </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="createNewGroup();">Continue</button>
            </div>
          </div>
        </div>
      </div>
    </body>
</html>
