body{
    height: 100vh;
    width: 100vw;
/*    border: 2px solid red;*/
}



li{
    width: 200px;
    text-align: center;
    background: linear-gradient(to bottom, #ffffff 0%, #000000 99%);

}

a{
    color: white;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
/*    color:black;*/
    background: linear-gradient(to bottom left, #ff9900 0%, #ffff99 100%);
}


#resourceTypeWrapper{
    width: 100%;
    height: 90px;
    background-color: black;
    background-repeat:round;
    position: relative;
    float:left;
    
}

#resourceType{
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:5px;
    float: left;
    width: calc(205px * 4);
    height: 90px;
/*    transform: translateX(50%);*/
}

#accountInfo{
    position: relative;
    float:right;
    padding: 20px;
    height: 90px;
}

#resourceData{
    position: relative;
    height: calc(100% - 90px);
    top:90px;
    background-image: url(../images/comic.jpg);
    background-size: 100%;
    
}